[Desktop Entry]
Name=Maitreya8
Comment=Astrology Software
Keywords=Vedic Astrology;Western Astrology;Astrology;
Exec=maitreya8
Icon=maitreya8
GenericName=Maitreya
Terminal=false
Type=Application
Categories=Education;Science;Astronomy;
