Source: maitreya8
Section: misc
Priority: extra
Maintainer: M. Pettau <http://saravali.github.io/about.html> 
Build-Depends: libwxbase3.2-1, libwxgtk3.2-1, libwxgtk3.2-dev, wx-common,wx3.2-headers,libfontconfig1-dev
Standards-Version: 4.0.0

Package: maitreya8
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Software for Vedic and western astrology
 Free software for western and Vedic astrology (Jyotish). Supports classical Vedic astrology, KP system and parts of Jaimini system. Western part includes Uranian astrology. Platforms: Win32, Linux and UNIX.

